/* Everything */

body {
    font-family: myFirstFont;
    text-align: center;
    background-image: url(https://i.pinimg.com/originals/ef/e4/91/efe4911c1514bd6da486c87cab240f60.gif);
    background-size: cover
}

table {
    width: 100%;
}

th {
    color: yellow;
}

td {
    animation-name: questions;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@font-face{
    font-family: myFirstFont;
    src: url(../font/nasalization-rg.ttf)
}

#show {
    margin: 0 auto;
    position: absolute;
    bottom: 5rem;
}

#show-section {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
}

h1 {
    color: white;
    margin-top: 20px;
    font-size: 60px;
    font-weight: 800;
    
    animation-name: example;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    width: auto;
}

h3 {
    margin-top: 1%;
    font-size: 30px;
    animation-name: questions;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    width: auto;
    margin-bottom: 2%;
}

input {
    border-radius: 5%;
}


embed {
    height: 0px;
    width: 0px;
}

p {
    margin-top:1rem;
    animation-name: questions;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {color:#00519d;}
    to {color: yellow;}
}

@keyframes questions {
    from {color: aquamarine;}
    to {color: gold;}
}

@keyframes answers {
    from {color: springgreen;}
    to {color: turquoise;}
}

/* Start Screen */
#start {
    border: 2px solid #00519d;
    background-color: #00519d;
    color: white;
    padding: 15px;
    font-size: 25px;
    font-family: myFirstFont;
    border-radius: 12px;
    margin-top: 50px;
}

#start:hover {
    background-color: black;
    border-color: gold;
}

#start:focus {
    border: none;
}

/* Question and Answers Screen */

#timer {
    color:gold;
    height: 20%;
    /* border: 1px solid blue; */
}


main {
    width: 70%;
    margin: 20px auto;
    border: 3px solid black;
    border-radius: 20px;
    background: #00519d;
    background: rgba(0,81,157, 0.8);
}

section {
    padding: 30px;
}
p {
    font-size: 18px;
    animation-name: answers;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    width: auto;
}

.questAnswer{
    margin: 20px;
}

.selection {
    border: 2px solid black;
    background-color: #00519d;
    color: white;
    padding: 15px;
    font-size: 25px;
    font-family: myFirstFont;
    border-radius: 12px;
    margin: 20px 5px 0px;   
}

button:hover {
    background-color: black;
    border-color: gold;
    cursor: pointer;
}

button:focus {
    outline: none;
}

#next {
    margin-bottom: 1rem;
}

#high-scores {
    width: 70%;
    margin: 20px auto;
    border: 3px solid black;
    border-radius: 20px;
    background: #00519d;
    background: rgba(0,81,157, 0.8);
}

#play-again {
    margin-bottom: 1rem;
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }

    #label {
        margin-top: 0px;
        font-size: 15px;
    }

    .selection {
        padding: 10px;
        font-size: 18px;
    }
}