body {
    font-family: 'Crete Round', serif;
    text-align: center;
    background-image: url(../images/astro-astronomy-background-956999.jpg)
}


h1 {
    color: white;
    margin-top: 20px;
    font-size: 60px;
}
h3 {
    font-size: 30px;
}
main {
    width: 70%;
    margin: 20px auto;
    border: 1px solid black;
    background: white;
}

section {
    padding: 30px;
}
p {
    font-size: 18px;
}

.questAnswer{
    margin: 20px;
}