body {
    font-family: myFirstFont;
    text-align: center;
    background-image: url(https://i.pinimg.com/originals/ef/e4/91/efe4911c1514bd6da486c87cab240f60.gif);
    background-size: cover
    
}

@font-face{
    font-family: myFirstFont;
    src: url(../font/nasalization-rg.ttf)
}
#start {
    border: 1px solid #00519d;
    background-color: #00519d;
    color: white;
    padding: 15px;
    font-size: 25px;
    font-family: myFirstFont;
    border-radius: 12px;
    margin-top: 50px;

}

h1 {
    color: white;
    margin-top: 20px;
    font-size: 60px;
    font-weight: 800;
    
    animation-name: example;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    width: auto;
}

@keyframes example {
    from {color:#00519d;}
    to {color: yellow;}
    
}

@keyframes questions {
    from {color: aquamarine;}
    to {color: gold;}
}

@keyframes answers {
    from {color: springgreen;}
    to {color: turquoise;}
}

h3 {
    font-size: 30px;
    animation-name: questions;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    width: auto;
}
main {
    width: 70%;
    margin: 20px auto;
    border: 3px solid blue;
    background: #00519d;
}

section {
    padding: 30px;
}
p {
    font-size: 18px;
    animation-name: answers;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    width: auto;
}

.questAnswer{
    margin: 20px;
}

embed {
    height: 0px;
    width: 0px;
}